.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url("https://i.imgur.com/32jDJWN.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

input {
  border: none;
  
}

label {
  font-family: 'Fjalla One', sans-serif;
  color: #076D4D;
  margin-bottom: 20px;
  display: block;
  font-size: 25px;
}

label, input {
  display: inline-block;
  
}

.SearchByVendor {
  display: center;
}