.App {
  text-align: center;
}

body {
  background: url("https://i.imgur.com/32jDJWN.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
};
