@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

h1 {
  margin: auto 0;
}

img {
  width: 400px;
  height: 155px;
}

/* p {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  color: #84182B;
} */

input {
  border: none;
  
}

label {
  font-family: 'Fjalla One', sans-serif;
  color: #076D4D;
  margin-bottom: 20px;
  display: block;
  font-size: 35px;
  height: 100%;
}

label, input {
  display: inline-block;
  
}

.SearchByVendor {
  display: center;
  
}

.SearchByProduct {
  margin-top: 20px;
}
