@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

header {
  background-color: #076d4d;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  font-family: "Fjalla One", sans-serif;
  text-decoration: none;
  color: #E0B564;
  font-size: 18px;
}
