@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

/* .maps-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  justify-content: space-evenly;
} */

.maps-container img {
  width: 100%;
  height: 310px;
  display: block;
  pointer-events: none;

}

.row-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.map-label label {
  font-size: 28px;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-family: "Fjalla One", sans-serif;
}

figure {
  width: 400px;
  background-repeat: no-repeat;
}

figure:hover img {
  opacity: 0;


}
