@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
/* hover effect credit */
/* https://codepen.io/robertkirsz/pen/ZvorjB */

.maps-container {
  display: block;
}

.map-label {
  display: flex;
  justify-content: center;
}

.maps-container img {
  width: 100%;
  height: 350px;
  display: block;
  pointer-events: none;
}

.row-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -12px;
}

.row-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.maps-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.map-label label {
  font-size: 32px;
  display: flex;
  justify-content: center;
  font-family: "Fjalla One", sans-serif;
  color: #076d4d;
  padding: 25px;
  text-shadow: 0.5px 2px #e0b564;
}

figure {
  width: 400px;
  background-repeat: no-repeat;
}

figure:hover img {
  opacity: 0;
}
